body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

h1 {
  color: blue;
}

header {
  width: 100%;
  /* margin: 0, 100px, 0, 100px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.container {
  position: fixed;
  /* ヘッダーを固定する */
  top: 0;
  /* 上部から配置の基準位置を決める */

  /* 左から配置の基準位置を決める */
  width: 1720px;
  /* ヘッダーの横幅を指定する */
  height: 120px;
  /* ヘッダーの高さを指定する */
  background-color: #31a9ee;
  /* ヘッダーの背景色を指定する */
  color: #000000;
  /* フォントの色を指定する */
  display: flex;
}

/* .container {
    margin: 0, 100px, 0, 100px;
} */

nav {
  margin-left: auto;
  height: 120px;

  background-color: yellow;

  color: #000000;

  align-items: center;
  display: flex;
  width: 800px;
}

ul {
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  background-color: red;
  width: 100%;
}

li {
  display: inline-block;
  background-color: green;
}

article {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
}

.main-visual {
  background-color: mediumpurple;
  width: 1020px;
}

.contents{
  background-color: pink;
  width: 1020px;
  height: 700px;

}

footer{
  background-color: mediumseagreen;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text{background-color: purple;
width: 370px;}
